@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Inter:wght@100;300;500&family=Rubik+Wet+Paint&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Bungee Shade';
  font-size: 72px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_1 {
  /* background-image: linear-gradient(to top right, rgba(255, 0, 255, .5), rgba(255, 0, 255, .8), rgba(255, 0, 255, 1), rgba(255, 255, 255, .9)); */
  background-image: linear-gradient(to top right, rgba(255, 0, 255, 0.5), white);
}

.title_2 {
  background-image: linear-gradient(60deg, #e21143, #ffb03a);
}

.title_3 {
  background-image: linear-gradient(60deg, #ffb03a, #e21143);
}

html {
  background: #5c258d;
  /* background: -webkit-linear-gradient(to top, #4389a2, #5c258d);
  background: linear-gradient(to bottom, #4389a2, #5c258d); */
  /* background: -webkit-linear-gradient(to top, #614385, #516395);
  background: linear-gradient(to bottom, #614385, #516395); */

  background: #03001e; /* fallback for old browsers */
  background: radial-gradient(#1e1e1e, #000000);
  /* background: radial-gradient(
    #1e1e1e
    #100d25, */
  /* ); */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  margin-left: 10%;
  margin-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
